<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('partials/head') %> 
</head>
<body>
    <div id="wrapper">
        <%- include('partials/nav') %> 
        <%- include('partials/sidenav') %> 
  

        <%- include('partials/footer') %>
    </div>
</body>
</html>