<footer class="container-fluid">
    
    <p class="p-4" style="font-size: 17px;text-align: center;color: black;background-color: rgb(145, 143, 143,0.8);" >2020 &copy all rights reserved </p>
</footer>

<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/assets/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/assets/js/jquery.metisMenu.js"></script>
   <!-- CUSTOM SCRIPTS -->
<script src="/assets/js/custom.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

