
<!-- SIDE  NAVBAR -->

<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            


            <li>
                <a class="" href="/"><i class="fa fa-dashboard "></i>Dashboard</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-bar-chart-o "></i>Orders </a>
                
            </li>
             <li>
                <a href="#"><i class="fa fa-edit "></i>Products <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                   
                     <li>
                        <a href="/add_product">Add Products </a>
                    </li>
                     <li>
                        <a href="/products">All Products</a>
                    </li>
                     
                   
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit "></i>Category <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                   
                     <li>
                        <a href="/add_category">Add Category </a>
                    </li>
                     <li>
                        <a href="/categories">All Category</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>

</nav>
<!-- END SIDENAVBAR -->