<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('partials/head') %> 
   <style>
    .bg-img {
        background-image: url("commerce.jpg");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .login-form {
        width: 340px;
        margin: 0 auto;
        padding-top: 110px;
        font-size: 15px;
       
    }
    .login-form form {
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }</style>
</head>
<body  >
    <div class="bg-img">
        <div class="login-form">
        <form >
            <h2 class="text-center">Sigin Up</h2>       
            <div class="form-group">
              
                <input type="text" class="form-control" placeholder="Username" name="email" required="required">
            </div>
            <div class="form-group">
                
                <input type="password" class="form-control" placeholder="Password " name="password" required="required">
            </div>
            <div class="form-group">
                
                <input type="password" class="form-control" placeholder="Repeat Password " name="password1" required="required" onchange="checker()">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register </button>
            </div>
            <div class="clearfix">
        
                <a href="/login" style="float: right;">registered ? , Login</a>
            </div>        
        </form>
        
    </div>
    <div class="shadow" id="msg" style="background-color: blue;color: #ffffff;position: fixed;float: right;right: 0;z-index: 99;">
            
    </div>
    <script>
        const form=document.querySelector('form');
        
        function checker(){
            
            const p1=form.password.value;
         
            const p2=form.password1.value;
            console.log(p1,p2);
            if(p1===p2){
             return true;

            }
            else if(p1!==p2){
            
            alert("password not matching");
            return false;
            }
            else{
                return true;
            }
         }
        form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        const email=form.email.value;
        const password=form.password.value;
       
   
        try{
           const res= fetch("/signup",{
                method:'POST',
                body:JSON.stringify({email,password}),
                headers:{'Content-Type':'application/json'}
            }).then((res)=>{return res.json()}).then((result=>{alert(result.msg,result.user);location.replace("/");}));
          const data=await res.json();
          console.log(data);
        }
        catch(err){
           console.log(err)
        }
        });
     
     </script>
</body>
</html>